@import './colormap';

.activity__title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.activity__text {
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	color: getColor('primary');
	background-color: getColor('overlay-activity');
}