$colors: (
	'primary': #FFFFFF,
	'accent': #F5F4FA,
	'secondary': #2196F3,
	'overlay-hero': rgba(47, 48, 58, 0.4),
	'overlay-activity':rgba(47, 48, 58, 0.8),
	'overlay-modal': rgba(0, 0, 0, 0.2),
	'overlay-portfolio': rgba(33, 150, 243, 0.9),
	'border-portfolio': #EEEEEE,
	'background':#AFB1B8,
	'background-footer':#2F303A,
	'header-border': #ECECEC,
	'title':#212121,
	'text':#757575,
	'logo-header':#000000,
	'logo-footer':#FFFFFF,
	'icon-footer':rgba(255, 255, 255, 0.1),
	'icon-modal': #212121,
	'text-footer':rgba(255, 255, 255, 0.6),


);

@function getColor($key) {
	@return map-get($colors, $key);
}

;

$time : 250ms;
$delay: cubic-bezier(0.4, 0, 0.2, 1);

$transitions: $time $delay;