@import './colormap';

.features {
	padding-top: 94px;
	padding-bottom: 47px;
}

.features__list {
	display: flex;
}

.features__item {
	width: calc((100%/4));

	+.features__item {
		margin-left: 30px;
	}
}

.features__title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.features__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;

	color: getColor('text');

	margin-top: 10px;
}