@import './colormap';

.features {
	padding-top: 94px;
	padding-bottom: 47px;
}

.features__list {
	display: flex;
	gap: 30px;
}

.features__item {
	width: calc((100% - 90px)/4);

}

.features__image {
	display: flex;
	justify-content: center;
	height: 120px;
	background: getColor('accent');
	border-radius: 4px;
	margin-bottom: 30px;
}

.features__title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.features__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;

	color: getColor('text');

	margin-top: 10px;
}