@import './colormap';

.footer {
	padding: 60px 0;
	background-color: getColor('background-footer');
}

.footer__list {
	display: flex;
	align-items: center;
}

.footer__item {


	&+.footer__item {
		margin-left: 93px;
	}

	&:last-child {

		// max-width: 100%;
	}
}

.footer__address {
	margin-top: 20px;
}

.footer__item {
	display: inline-block;

	+.features__item {
		margin-top: 9px;
	}
}

.footer .social__item {
	background: rgba(255, 255, 255, 0.1);


	&:hover,
	&:focus {
		background-color: getColor('secondary');
		color: getColor('primary');
	}
}

.footer__location {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: getColor('primary');
}

.footer__email {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: getColor('text-footer');
	transition: color $transitions, background-color $transitions;

	&:hover,
	&:focus {
		color: getColor('secondary');
	}
}

.footer__phone {
	@extend .footer__email;
}

.footer__call {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: getColor('primary');
}

.footer__form {
	margin-top: 20px;
	display: flex;
	align-items: center;
	align-content: stretch;
}

.footer__label {

	&:hover .footer__input,
	&:focus .footer__input {
		border-color: getColor('secondary');
	}

	// width: 100%;
}

.footer__input {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: transparent;
	border-radius: 4px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);
	min-width: 358px;
	height: 50px;
	padding-left: 16px;
	padding-right: 16px;
	cursor: pointer;
	margin-right: 12px;

	outline: none;
	transition: border-color $transitions;

}

.footer__button {
	min-width: 200px;
	min-height: 50px;
	display: flex;


	background: getColor('secondary');
	color: getColor('primary');

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	padding-top: 0;
	padding-bottom: 0;
	padding-left: 28px;
	padding-right: 28px;

	margin-left: 12px;



}

.footer__button-icon {
	margin-left: 10px;
}