@import './colormap';

.hero {
	background-color: getColor('overlay-hero');
}

.hero__title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: getColor('primary');
}

.hero__button {
	min-width: 200px;
	min-height: 50px;

	background: getColor('secondary');
	color: getColor('primary');

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 32px;
	padding-right: 32px;
}