@import './colormap';

.hero {
	background-color: getColor('overlay-hero');
	height: 600px;
	// max-width: 1600px;
	width: 1600px;
	margin: 0 auto;
	padding: 200px 0;

	background-image: linear-gradient(to right, getColor('overlay-hero'), getColor('overlay-hero')), url(../images/desktop/heromin/Img@2x-min.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.hero__title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin: 0 auto;

	color: getColor('primary');
}

.hero__button {
	min-width: 200px;
	min-height: 50px;

	background: getColor('secondary');
	color: getColor('primary');

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 32px;
	padding-right: 32px;

	margin: 30px auto 0;
	display: block;
}