.lesson__list {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
}

.lesson__icon {
	fill: aqua;
}

// .lesson__item {
// 	display: inline-block;
// }

.lesson__text {
	display: flex;
	align-items: center;


	&::before {

		content: "";
		background-color: #d00f0f;
		width: 25px;
		height: 24px;
		background-image: url(../images/desktop/icon-check.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain
	}
}

.lesson__post {
	position: relative;
}

.lesson__title {
	position: sticky;
	top: 0;
}

.card {
	display: flex;
	gap: 30px;
}

.tumb {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	width: calc((100% - 90px)/4);
	height: 200px;
	background-color: antiquewhite;

	&:hover .overflow,
	&:focus .overflow {
		transform: translateY(0);
	}

}

.overflow {

	position: absolute;
	background-color: aqua;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 250ms ease;



}

// .form {
// 	display: flex;
// 	flex-direction: column;
// 	margin: 100px auto;

// 	padding: 40px;
// 	max-width: 500px;
// 	background-color: aqua;
// 	border: 1px solid tomato;
// 	border-radius: 10px;

// 	&>label:not(first-child) {
// 		// margin-top: 10px;
// 	}

// 	& textarea {
// 		resize: both;
// 		// resize: horizontal;
// 		// resize: none;
// 		// resize: vertical;
// 	}

// 	& div {
// 		border: 1px dashed blue;
// 	}
// }

// fieldset {

// 	border: none;
// 	border: 1px dashed tomato;

// }