@import './colormap';

.backdrop {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 528px;
	width: 100%;

	padding: 40px;

	background: getColor('primary');
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

}

.modal__close {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: getColor('primary');
	color: #000000;
	transition: color $transitions, border-color $transitions;

	&:hover,
	&:focus {
		border-color: getColor('secondary');
		color: getColor('secondary');
	}

}

.modal__close-icon {
	fill: currentColor;
	width: 11px;
	height: 11px;
}

.backdrop.is-hidden {
	// overflow: hidden;
	opacity: 0;
	pointer-events: none;

}

.modal__title {

	font-size: 20px;
	line-height: 1.15;
	text-align: center;
}

.form {


	margin-top: 12px;
}

.form__label {

	width: 100%;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: getColor('text');

	display: flex;
	flex-direction: column;

	cursor: inherit;

	&+.form__label {
		margin-top: 10px;
	}

	&:hover .form__input {
		border-color: getColor('secondary');
	}

	&:hover .form__icon {
		fill: getColor('secondary');
	}
}

.form__input {
	padding-left: 40px;
	width: 100%;
	height: 40px;
	color: getColor('title');
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color $transitions;

	&:focus,
	&:hover {
		outline: none;
		border-color: getColor('secondary');
		// fill: getColor('secondary');
	}
}

.form__tumb:focus-within .form__icon {
	fill: getColor('secondary');
}

.form__tumb {

	margin-top: 4px;
	position: relative;

}

.form__icon {
	left: 15px;
	bottom: 50%;
	transform: translate(0, 50%);
	position: absolute;
	fill: getColor('icon-modal');
	transition: fill $transitions;
}

.form__text {
	resize: none;
	margin-top: 4px;
	padding: 12px 16px;
	transition: border-color $transitions;

	&:focus {
		outline: none;
		border-color: getColor('secondary');
	}

	// height: 120px;
}


.checkbox {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;


	margin-top: 20px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: getColor('text');

	cursor: pointer;


}

.checkbox__input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;



	&:checked+.checkbox__icon {
		border-color: getColor('secondary');
		background: getColor('secondary');
		background-image: url(../images/desktop/icon-check.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-origin: border-box;
	}

	&:focus+.checkbox__icon,
	&:hover+.checkbox__icon {
		border-color: getColor('secondary')
	}

}

.checkbox__icon {
	width: 16px;
	height: 15px;
	margin-right: 8px;
	display: inline-block;

	border: 2px solid getColor('title');
	// border-color: getColor('title');
	border-radius: 2px;
	transition: border-color $transitions, background $transitions, background-image $transitions;


}

.checkbox__link {
	color: getColor('secondary');
	margin-left: 4px;
	border-bottom: 0.7px solid currentColor;
	line-height: 0.82;

}

.checkbox__button {

	display: block;
	min-width: 200px;
	min-height: 50px;

	margin: 30px auto 0;

	background: getColor('secondary');
	color: getColor('primary');
}