@import './colormap';

.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

.portfolio__filters {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.portfolio__filter {
	+.portfolio__filter {
		margin-left: 8px;
	}
}

.portfolio__button {
	min-height: 38px;
	min-width: 73px;


	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;

	background: getColor('accent');
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 22px;
	padding-right: 22px;

	&:hover,
	&:focus {
		background: getColor('secondary');
		color: getColor('primary');
	}

}

.portfolio__list {


	display: flex;
	flex-wrap: wrap;

	// margin: -15px;
	// flex-grow: 1;
	gap: 30px;

}

.portfolio__item {

	cursor: pointer;
	display: flex;
	flex-direction: column;
	// flex-grow: 1;

	flex-basis: calc((100% - 60px)/3);
	// margin: 15px;

	// border: 1px solid getColor('border-portfolio');


}

.portfolio__link {


	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&:hover,
	&:focus {


		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	&:hover .portfolio__description,
	&:focus .portfolio__description {
		opacity: 1;
		transform: translateY(0);
	}
}

.portfolio__tumb {
	position: relative;
	overflow: hidden;
}

.portfolio__description {
	position: absolute;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 250ms ease;
	overflow: auto;


	display: block;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 64px 24px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;


	color: getColor('primary');
	background-color: getColor('overlay-portfolio');

	&::-webkit-scrollbar {
		width: 1px;
	}


}



.portfolio__text {
	flex-grow: 1;
	padding: 20px 24px;
	// border: 1px solid getColor('border-portfolio');
	border-bottom: 1px solid getColor('border-portfolio');
	border-left: 1px solid getColor('border-portfolio');
	border-right: 1px solid getColor('border-portfolio');
}

.portfolio__item-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

}

.portfolio__category {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	color: getColor('text');
}