@import './colormap';

body {
	background-color: getColor('primary');
	color: getColor('title');

	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 0.03em;

}

a,
address {
	color: inherit;
	font-style: normal;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

// section {
// 	outline: 0.5px dashed blue;


// }



.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;

	// border: dashed #2a2a2a;
	// outline: 0.5px dashed tomato;

	// >* {
	// 	outline: 0.5px dashed tomato;

	// 	>* {
	// 		outline: 0.5px dashed tomato;
	// 	}
	// }
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	line-height: 1.19;
	color: getColor('secondary');
}

.logo__header {
	color: getColor('logo-header');
}

.logo__footer {
	color: getColor('logo-footer');
}

.active {
	color: getColor('secondary');
}

.button {

	cursor: pointer;
	// display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
}

.section__title {
	visibility: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.social {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	flex-wrap: nowrap;
}

.social__item {
	cursor: pointer;
	width: 44px;
	height: 44px;


	// border: 1px solid tomato;
	border-radius: 50%;
	// background-color: getColor('accent');
	color: getColor('background');

	&:hover,
	&:focus {
		background-color: getColor('secondary');
		color: getColor('primary');
	}

	+.social__item {
		margin-left: 10px;
	}

}

.social__link {
	// display: flex;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	// flex-wrap: nowrap;

}

.social__icon {
	fill: currentColor;
}


// .list-item {
// 	display: inline-block;

// 	border: 1px dashed tomato;
// 	// min-width: 30px;
// 	// min-height: 30px;
// 	border-radius: 50%;
// 	text-align: center;

// 	&:nth-child(3n+1) {
// 		background-color: getColor('text');
// 	}
// }