// @import './example';
@import './lesson_1';
@import './common';
@import './standart';
@import './header';
@import './portfolio';
@import './hero';
@import './activity';
@import './clients';
@import './features';
@import './footer';
@import './team';
@import './modal';