// @import './example';
// @import './lesson_1';
@import './common';
@import './colormap';
@import './standart';
@import './header';
@import './hero';
@import './activity';
@import './clients';
@import './features';
@import './footer';
@import './team';