<!-- <section>
  <h2>Чим ми займаємося</h2>
  <ul>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
  </ul>
</section> -->
<section class="section activity">
  <h2 class="section__title">Чим ми займаємося</h2>
  <ul class="activity__list">
    <li class="activity__item">
      <img
        class="activity__image"
        src="./images/desktop/activitymin/img@2x-min.jpg"
        srcset="
          ./images/desktop/activitymin/img-min.jpg    1x,
          ./images/desktop/activitymin/img@2x-min.jpg 2x
        "
        alt=""
        width="370"
      />
    </li>
    <li class="activity__item">
      <img
        class="activity__image"
        src="./images/desktop/activitymin/img@2x-1-min.jpg"
        srcset="
          ./images/desktop/activitymin/img-1-min.jpg    1x,
          ./images/desktop/activitymin/img@2x-1-min.jpg 2x
        "
        alt=""
        width="370"
      />
    </li>
    <li class="activity__item">
      <img
        class="activity__image"
        src="./images/desktop/activitymin/img@2x-2-min.jpg"
        srcset="
          ./images/desktop/activitymin/img-2-min.jpg    1x,
          ./images/desktop/activitymin/img@2x-2-min.jpg 2x
        "
        alt=""
        width="370"
      />
    </li>
  </ul>
</section>
