<!-- <section>
  <h2>Чим ми займаємося</h2>
  <ul>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
  </ul>
</section> -->
<section class="section activity">
  <h2 class="activity__heading">Чим ми займаємося</h2>
  <ul class="activity__list">
    <li class="activity__item">
      <img
        class="activity__image"
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
    <li class="activity__item">
      <img
        class="activity__image"
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
    <li class="activity__item">
      <img
        class="activity__image"
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
    </li>
  </ul>
</section>
