<section class="section activity">
  <h2 class="activity__title">Чим ми займаємося</h2>
  <ul class="activity__list">
    <li class="activity__item">
      <img
        class="activity__image"
        src="./images/desktop/activitymin/img@2x-min.jpg"
        srcset="
          ./images/desktop/activitymin/img-min.jpg    1x,
          ./images/desktop/activitymin/img@2x-min.jpg 2x
        "
        alt=""
        width="370"
      />
      <p class="activity__text">Десктопні додатки</p>
    </li>
    <li class="activity__item">
      <img
        class="activity__image"
        src="./images/desktop/activitymin/img@2x-1-min.jpg"
        srcset="
          ./images/desktop/activitymin/img-1-min.jpg    1x,
          ./images/desktop/activitymin/img@2x-1-min.jpg 2x
        "
        alt=""
        width="370"
      />
      <p class="activity__text">Мобільні додатки</p>
    </li>
    <li class="activity__item">
      <img
        class="activity__image"
        src="./images/desktop/activitymin/img@2x-2-min.jpg"
        srcset="
          ./images/desktop/activitymin/img-2-min.jpg    1x,
          ./images/desktop/activitymin/img@2x-2-min.jpg 2x
        "
        alt=""
        width="370"
      />
      <p class="activity__text">Дизайнерські рішення</p>
    </li>
  </ul>
</section>
