<section class="section features">
  <h2 class="section__title">Особливості</h2>
  <ul class="features__list">
    <li class="features__item">
      <h3 class="features__title">УВАГА ДО ДЕТАЛЕЙ</h3>
      <p class="features__description">
        Ідейні міркування, і навіть початок повсякденної роботи з формування
        позиції.
      </p>
    </li>
    <li class="features__item">
      <h3 class="features__title">ПУНКТУАЛЬНІСТЬ</h3>
      <p class="features__description">
        Завдання організації, особливо рамки і місце навчання кадрів тягне у
        себе.
      </p>
    </li>
    <li class="features__item">
      <h3 class="features__title">ПЛАНУВАННЯ</h3>
      <p class="features__description">
        Так само консультація з широким активом значною мірою зумовлює.
      </p>
    </li>
    <li class="features__item">
      <h3 class="features__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
      <p class="features__description">
        Значимість цих проблем настільки очевидна, що реалізація планових
        завдань.
      </p>
    </li>
  </ul>
</section>
