<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__logo-address footer__item">
        <a href="" class="logo">Web<span class="logo__footer">Studio</span></a>
        <address class="footer__address">
          <ul>
            <li class="footer__location footer__item">
              м. Київ, пр-т Лесі Українки, 26
            </li>
            <li>
              <a href="mailto:info@devstudio.com" class="footer__email"
                >info@devstudio.com</a
              >
            </li>
            <li>
              <a href="tel:+380961111111" class="footer__phone"
                >+38 096 111 11 11</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="footer__social footer__item">
        <p class="footer__call">приєднуйтесь</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/desktop/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/desktop/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/desktop/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/desktop/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="footer__subscribe footer__item">
        <p class="footer__call">Підпишіться на розсилку</p>
        <button class="footer__button button" type="button">
          Підписатися<svg class="footer__button-icon" width="24" height="24">
            <use href="./images/desktop/icons.svg#icon-send"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</footer>
