<header class="header">
  <nav class="header__nav">
    <a class="logo" href="./index.html"
      >Web<span class="logo__header">Studio</span></a
    >
    <ul class="header__menu">
      <li class="header__menu-item active">
        <a href="./index.html" class="header__menu-link">Студія</a>
      </li>
      <li class="header__menu-item">
        <a href="./portfolio.html" class="header__menu-link">Портфоліо</a>
      </li>
      <li class="header__menu-item">
        <span class="header__menu-link">Контакти</span>
      </li>
    </ul>
  </nav>
  <address class="header__contacts">
    <ul class="header__contacts-list">
      <li class="header__contacts-item">
        <a href="mailto:info@devstudio.com" class="header__contacts-link"
          >info@devstudio.com</a
        >
      </li>
      <li class="header__contacts-item">
        <a href="tel:+380961111111" class="header__contacts-link"
          >+38 096 111 11 11</a
        >
      </li>
    </ul>
  </address>
</header>
