<!-- <img src="./images/svg/antenna 1.svg" alt="" />
<img src="./images/svg/astronaut 1.svg" alt="" />
<img src="./images/svg/clent1.svg" alt="" />
<img src="./images/svg/clent2.svg" alt="" />
<img src="./images/svg/clent3.svg" alt="" />
<img src="./images/svg/clent4.svg" alt="" />
<img src="./images/svg/clent5.svg" alt="" />
<img src="./images/svg/clent6.svg" alt="" />
<img src="./images/svg/clock 1.svg" alt="" />
<img src="./images/svg/diagram 1.svg" alt="" />
<img src="./images/svg/email-black-18dp 1.svg" alt="" />
<img src="./images/svg/envelope.svg" alt="" />
<img src="./images/svg/facebook 1.svg" alt="" />
<img src="./images/svg/icon send.svg" alt="" />
<img src="./images/svg/instagram 2.svg" alt="" />
<img src="./images/svg/linkedin 1.svg" alt="" />
<img src="./images/svg/person-black-18dp 1.svg" alt="" />
<img src="./images/svg/phone-black-18dp 1.svg" alt="" />
<img src="./images/svg/smartphone.svg" alt="" />
<img src="./images/svg/twitter 1.svg" alt="" /> -->
<div class="container">
  <ul class="lesson__list">
    <li class="lesson__item">
      <svg class="lesson__icon">
        <use href="./images/desktop/icons.svg#icon-astronaut"></use>
      </svg>
      <!-- <img src="./images/svg/antenna-1.svg"></img> -->
    </li>
  </ul>
</div>
