<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close" type="button" data-modal-close>
      <svg class="modal__close-icon" width="11" height="11">
        <use href="./images/desktop/icons.svg#modal-button"></use>
      </svg>
    </button>
    <h2>Залиште свої дані, ми вам передзвонимо</h2>
    <form class="form myForm">
      <label class="form__label"
        >Ім'я
        <input class="form__input myInput" type="text" name="" />
      </label>
      <label class="form__label"
        >Телефон
        <input class="form__input myInput" type="tel" name="" />
      </label>
      <label class="form__label"
        >Пошта
        <input class="form__input myInput" type="email" name="" />
      </label>
      <label class="form__label"
        >Коментар
        <input
          class="form__input myInput"
          type="text"
          name=""
          placeholder="Введіть текст"
        />
      </label>
      <label class="checkbox">
        <input
          class="checkbox__input myInput"
          type="checkbox"
          name=""
        />Погоджуюся з розсилкою та приймаю
        <a class="checkbox__link" href="">Умови договору</a>
      </label>
      <button class="button checkbox__button" type="submit">Відправити</button>
    </form>
  </div>
</div>
