<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close" type="button" data-modal-close>
      <svg class="modal__close-icon" width="11" height="11">
        <use href="./images/desktop/icons.svg#modal-button"></use>
      </svg>
    </button>
    <h2>asdfasfasfas</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis earum nihil
      amet consectetur placeat ipsa vero ipsam labore maiores repellat
      reprehenderit enim, ex nam cumque illum hic est recusandae deleniti
      temporibus voluptate distinctio excepturi quibusdam a! Eligendi excepturi
      sit deleniti! At, magni dolorum officia maiores laborum veritatis magnam
      necessitatibus cumque labore corporis accusantium temporibus deserunt
      voluptas nobis autem provident aspernatur numquam odit sit itaque, porro
      non a asperiores? Unde eaque sequi doloremque maiores minus eveniet nihil
      ex tenetur mollitia dolore. Perferendis numquam, fugit id maxime placeat
      consectetur voluptatem esse similique eaque, inventore expedita eveniet ad
      nulla dolores. Aliquid, eligendi. Adipisci voluptatem accusantium sint
      similique fugiat aut esse temporibus illo excepturi veniam voluptatibus
      fuga minus reiciendis, totam cum repellendus nulla qui at quibusdam!
      Laboriosam omnis obcaecati vero sequi laudantium quia ad iste ipsa
      praesentium, accusamus eos esse aliquam porro sunt nulla aperiam dolorem
      corrupti, explicabo voluptates. Consectetur eaque quia culpa placeat, iure
      ullam aut, nobis, minima cumque voluptas laboriosam! Dicta natus ab amet
      optio cum harum iure iusto, sit culpa debitis vitae ut dignissimos
      praesentium aliquid in quod exercitationem! Vitae, nobis. Optio laudantium
      itaque quaerat laborum, dolorum modi deleniti debitis dolore incidunt
      vitae odio aut rerum ab consequuntur soluta praesentium. Animi.
    </p>
  </div>
</div>
