<!-- <section>
  <ul>
    <li><button type="button">Усі</button></li>
    <li><button type="button">Веб-сайти</button></li>
    <li><button type="button">Додатки</button></li>
    <li><button type="button">Дизайн</button></li>
    <li><button type="button">Маркетинг</button></li>
  </ul>
  <ul>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Технокряк</h2>
      <p>Веб-сайт</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Постер New Orlean vs Golden Star</h2>
      <p>Дизайн</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Ресторан Seafood</h2>
      <p>Додаток</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Проєкт Prime</h2>
      <p>Маркетинг</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Проєкт Boxes</h2>
      <p>Додаток</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Inspiration has no Borders</h2>
      <p>Веб-сайт</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Видання Limited Edition</h2>
      <p>Дизайн</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Проєкт LAB</h2>
      <p>Маркетинг</p>
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
        alt=""
        width="370"
      />
      <h2>Growing Business</h2>
      <p>Додаток</p>
    </li>
  </ul>
</section> -->
<section class="section portfolio">
  <h1 class="section__title">Портфоліо</h1>
  <ul class="portfolio__filters">
    <li class="portfolio__filter">
      <button class="portfolio__filter-button" type="button">Усі</button>
    </li>
    <li class="portfolio__filter">
      <button class="portfolio__filter-button" type="button">Веб-сайти</button>
    </li>
    <li class="portfolio__filter">
      <button class="portfolio__filter-button" type="button">Додатки</button>
    </li>
    <li class="portfolio__filter">
      <button class="portfolio__filter-button" type="button">Дизайн</button>
    </li>
    <li class="portfolio__filter">
      <button class="portfolio__filter-button" type="button">Маркетинг</button>
    </li>
  </ul>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу.
        </p>
      </div>
      <h2 class="portfolio__item-title">Технокряк</h2>
      <p class="portfolio__item-category">Веб-сайт</p>
    </li>
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-1-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-1-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-1-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу.
        </p>
      </div>
      <h2 class="portfolio__item-title">Постер New Orlean vs Golden Star</h2>
      <p class="portfolio__item-category">Дизайн</p>
    </li>
    <li class="portfolio__item">
      <img
        class="portfolio__item-image"
        src="./images/desktop/portfoliomin/img-2-min.jpg"
        srcset="
          ./images/desktop/portfoliomin/img-2-min.jpg    1x,
          ./images/desktop/portfoliomin/img@2x-2-min.jpg 2x
        "
        alt=""
        width="370"
      />
      <h2 class="portfolio__item-title">Ресторан Seafood</h2>
      <p class="portfolio__item-category">Додаток</p>
    </li>
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-3-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-3-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-3-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу.
        </p>
      </div>
      <h2 class="portfolio__item-title">Проєкт Prime</h2>
      <p class="portfolio__item-category">Маркетинг</p>
    </li>
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-4-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-4-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-4-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу4
        </p>
      </div>
      <h2 class="portfolio__item-title">Проєкт Boxes</h2>
      <p class="portfolio__item-category">Додаток</p>
    </li>
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-5-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-5-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-5-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу.
        </p>
      </div>
      <h2 class="portfolio__item-title">Inspiration has no Borders</h2>
      <p class="portfolio__item-category">Веб-сайт</p>
    </li>
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-6-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-6-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-6-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу.
        </p>
      </div>
      <h2 class="portfolio__item-title">Видання Limited Edition</h2>
      <p class="portfolio__item-category">Дизайн</p>
    </li>
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-7-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-7-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-7-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу.
        </p>
      </div>
      <h2 class="portfolio__item-title">Проєкт LAB</h2>
      <p class="portfolio__item-category">Маркетинг</p>
    </li>
    <li class="portfolio__item">
      <div class="portfolio__item-tumb">
        <img
          class="portfolio__item-image"
          src="./images/desktop/portfoliomin/img-8-min.jpg"
          srcset="
            ./images/desktop/portfoliomin/img-8-min.jpg    1x,
            ./images/desktop/portfoliomin/img@2x-8-min.jpg 2x
          "
          alt=""
          width="370"
        />
        <p class="portfolio__item-description">
          Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
          сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про
          компанію чи приватну особу.
        </p>
      </div>
      <h2 class="portfolio__item-title">Growing Business</h2>
      <p class="portfolio__item-category">Додаток</p>
    </li>
  </ul>
</section>
