<section class="section portfolio">
  <div class="container">
    <h1 class="section__title">Портфоліо</h1>
    <ul class="portfolio__filters">
      <li class="portfolio__filter">
        <button class="portfolio__button button" type="button">Усі</button>
      </li>
      <li class="portfolio__filter">
        <button class="portfolio__button button" type="button">
          Веб-сайти
        </button>
      </li>
      <li class="portfolio__filter">
        <button class="portfolio__button button" type="button">Додатки</button>
      </li>
      <li class="portfolio__filter">
        <button class="portfolio__button button" type="button">Дизайн</button>
      </li>
      <li class="portfolio__filter">
        <button class="portfolio__button button" type="button">
          Маркетинг
        </button>
      </li>
    </ul>
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Технокряк</h2>
          <p class="portfolio__category">Веб-сайт</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-1-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-1-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-1-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">
            Постер New Orlean vs Golden Star
          </h2>
          <p class="portfolio__category">Дизайн</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-2-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-2-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-2-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Ресторан Seafood</h2>
          <p class="portfolio__category">Додаток</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-3-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-3-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-3-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Проєкт Prime</h2>
          <p class="portfolio__category">Маркетинг</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-4-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-4-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-4-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу4
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Проєкт Boxes</h2>
          <p class="portfolio__category">Додаток</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-5-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-5-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-5-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Inspiration has no Borders</h2>
          <p class="portfolio__category">Веб-сайт</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-6-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-6-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-6-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Видання Limited Edition</h2>
          <p class="portfolio__category">Дизайн</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-7-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-7-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-7-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Проєкт LAB</h2>
          <p class="portfolio__category">Маркетинг</p>
        </div>
      </li>
      <li class="portfolio__item">
        <div class="portfolio__tumb">
          <img
            class="portfolio__image"
            src="./images/desktop/portfoliomin/img-8-min.jpg"
            srcset="
              ./images/desktop/portfoliomin/img-8-min.jpg    1x,
              ./images/desktop/portfoliomin/img@2x-8-min.jpg 2x
            "
            alt=""
            width="370"
          />
          <p class="portfolio__description">
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
        <div class="portfolio__text">
          <h2 class="portfolio__item-title">Growing Business</h2>
          <p class="portfolio__category">Додаток</p>
        </div>
      </li>
    </ul>
  </div>
</section>
