<!-- <h2>Наша команда</h2>
<ul>
  <li>
    <img
      src=" https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
      alt=""
      width="270"
    />
    <h3>Ігор Дем'яненко</h3>
    <p>Product Designer</p>
  </li>
  <li>
    <img
      src=" https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
      alt=""
      width="270"
    />
    <h3>Ольга Рєпіна</h3>
    <p>Frontend Developer</p>
  </li>
  <li>
    <img
      src=" https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
      alt=""
      width="270"
    />
    <h3>Микола Тарасов</h3>
    <p>Marketing</p>
  </li>
  <li>
    <img
      src=" https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg"
      alt=""
      width="270"
    />
    <h3>Михайло Єрмаков</h3>
    <p>UI Designer</p>
  </li>
</ul> -->
<section class="section team">
  <h2 class="section__title">Наша команда</h2>
  <ul class="team__list">
    <li class="team__member">
      <img
        class="team__avatar"
        src="./images/desktop/team/img@2x-min.jpg"
        srcset="
          ./images/desktop/team/img-min.jpg    1x,
          ./images/desktop/team/img@2x-min.jpg 2x
        "
        alt=""
        width="270"
      />
      <h3 class="team__name">Ігор Дем'яненко</h3>
      <p class="team__position">Product Designer</p>
    </li>
    <li class="team__member">
      <img
        class="team__avatar"
        src="./images/desktop/team/img@2x-1-min.jpg"
        srcset="
          ./images/desktop/team/img-1-min.jpg    1x,
          ./images/desktop/team/img@2x-1-min.jpg 2x
        "
        alt=""
        width="270"
      />
      <h3 class="team__name">Ольга Рєпіна</h3>
      <p class="team__position">Frontend Developer</p>
    </li>
    <li class="team__member">
      <img
        class="team__avatar"
        src="./images/desktop/team/img@2x-2-min.jpg"
        srcset="
          ./images/desktop/team/img-2-min.jpg    1x,
          ./images/desktop/team/img@2x-2-min.jpg 2x
        "
        alt=""
        width="270"
      />
      <h3 class="team__name">Микола Тарасов</h3>
      <p class="team__position">Marketing</p>
    </li>
    <li class="team__member">
      <img
        class="team__avatar"
        src="./images/desktop/team/img@2x-3-min.jpg"
        srcset="
          ./images/desktop/team/img-3-min.jpg    1x,
          ./images/desktop/team/img@2x-3-min.jpg 2x
        "
        alt=""
        width="270"
      />
      <h3 class="team__name">Михайло Єрмаков</h3>
      <p class="team__position">UI Designer</p>
    </li>
  </ul>
</section>
